body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* Fondo claro */
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* overflow: hidden; */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

footer {
    margin-top: 20px;
}

.cards{
    width: 50%;
}

/* .productos-container {
    display: grid;
    margin-top: 40px;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
  }

.button{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s;

}

.product-card {
flex: 1 1 calc(33.333% - 20px); 
box-sizing: border-box;
margin: 10px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #fff;
} */
.productos-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 10px;
  }
  
  .product-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    padding: 10px;
    box-sizing: border-box;
    width: 200px;
  }